.emj{
  font-size: 30px;
  margin-right: 10px;
  display: inline-block;
}
#excercise{
  font-size: 40px;
}
#type{
  text-align: left;
  margin-left: 30px;
  margin-top:30px;
  }
#lang_mode{
  display: inline-block;
}
body{
  text-align: center;
}
#language{
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}

#level label{
  margin-right: 10px;
}

#btn_play{
  margin-right: 5px;
}
#btn_check{
  margin-left: 5px;
}
.ui.input {
    max-width: 30%;
}
/* .ui.container{
  margin-left: 0em!important;
} */

.ui.container {
  margin-top: 60px;
}

.ui.radio.checkbox{
  margin-right: 5px;
  margin-left: 5px;
}
