.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    /*background-color: #0000ff;*/
    background-color: #0000c5;
}

.right {
    right: 0;
    background-image: url("img/bg3.jpg");
    background-size: cover;
    background-position: center;
}

.logo {
    width: 80%;
}

.centered {}

.inside {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    top: 50%;
    transform: translate(0px, -50%);
}

#hero_text {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 300%;
}


.btn {
    outline: none;
    margin-top: 7%;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 100%;
    transition: 0.3s;
    cursor: pointer;
}

#btn_dwn {
    border-radius: 25px;
    border: 1px solid #ffffff;
}

#btn_dwn:hover {
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ffffff;
    color: #0000ff;
}

#btn_doc {
    border: none;
}

.sales {
    display: inline-block;
    margin-top: 7%;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 100%;
    cursor: pointer;
}

#img_sales {
    display: inline-block;
}

.sales img {
    vertical-align: middle;
    width: 40px;
    margin-right: 10px;
}

#download_saleskit {
    vertical-align: middle;
    display: inline-block;
}

.contact {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 100%;
}

#mail {
    text-decoration: underline;
    color: white;
    margin-left: 5px;
}

#c2g {
    margin-top: 2%;
    font-size: 60%;
}

#c2g a {
    text-decoration: none;
    color: white;
}

#location {
    color: white;
    margin-left: 15px;
}

@media screen and (max-width:900px) {
    .right {
        display: none;
    }

    .split {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    #img_logo {
        width: 100%;
    }

    #hero_text {
        text-align: center;
        font-size: 200%;
    }

    .buttons {
        text-align: center;
    }

    .sales {
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    #btn_doc {
        margin-top: 3%;
    }
}



#crosshair-h {
    width: 100%;
    height: 1px;
    background-color: white;
}

#crosshair-v {
    height: 100%;
    width: 1px;
    background-color: white;
}

#coordinates {
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 100%;
    background-color: none;

}

.hair {
    display: none;
    z-index: 3;
    position: fixed;
}

#right_slideshow:hover .hair {
    display: unset;
}